* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #aff9c9;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #2a4d14;
  margin: 2rem;
}

/*
nav {
  background: #67e0a3;
  padding: 1rem;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
  justify-content: center;
}

.nav-list a {
  text-decoration: none;
  color: #2a4d14;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  display: inline-block;
}

.nav-list a:hover {
  background: #aff9c9;
  border-radius: 5px;
}

.nav-list a:focus {
  outline: 2px solid #2a4d14;
  outline-offset: 2px;
}
*/

.box {
  background: #67e0a3;
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

.destinations {
  padding: 2rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 200px 1fr;
}

.btn {
  display: inline-block;
  padding: 15px 20px;
  background-color: #67e0a3;
  color: #00a5cf;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

btn:hover {
  background-color: #aff9c9;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  background-color: #00a5cf;
  width: 300px;
  padding: 15px;
  border-radius: 12px;
}

.card h2 {
  margin-top: 0;
  color: #67e0a3;
}

.card p {
  margin: 8px 0;
  font-size: 18px;
  color: #67e0a3;
}

.rome {
  border-top: 6px solid #67e0a3;
}
.tokyo {
  border-top: 6px solid #67e0a3;
}
.paris {
  border-top: 6px solid #67e0a3;
}

@media (min-width: 768px) {
  /* .nav-list {
    flex-direction: row;
    justify-content: center;
  }
    */

  .destinations {
    grid-template-columns: repeat(2, 1fr);
  }
  .box {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .destinations {
    grid-template-columns: repeat(3, 1fr);
  }
}