* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #aff9c9;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: center;
  justify-content: center;
}

.box {
  background: #67e0a3;
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 8px;
}

.destinations {
  padding: 2rem;
  display: grid;
  gap: 1.5rem;
}

nav {
  background: #67e0a3;
  padding: 1rem;
}

.nav-list a {
  text-decoration: none;
  color: #2a4d14;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  display: inline-block;
}
